<md-dialog aria-label="Add Custom Var">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{ options.head }}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="answer('not applicable')">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div>
        <form name="addCustomVarForm">
          <md-input-container>
            <label>Index</label>
            <input required name="index" ng-model="customVar.index">
          </md-input-container>
          <md-input-container>
            <label>Name</label>
            <input required name="name" ng-model="customVar.name">
          </md-input-container>
          <md-input-container>
            <label>Value</label>
            <input required name="value" ng-model="customVar.value">
          </md-input-container>
          <md-select placeholder="Scope" ng-model="customVar.scope" ng-if="options.mode === 'add'">
            <md-option ng-repeat="scope in scopes" value="{{ scope }}">{{scope}}</md-option>
          </md-select>
        </form>
      </div>
    </md-dialog-content>
    <div class="md-actions" layout="row">
      <md-button ng-if="options.mode === 'add'" ng-click="save(customVar)" class="md-primary">
        Save
      </md-button>
      <md-button ng-click="close()" class="md-primary">
        Close
      </md-button>
    </div>
  </form>
</md-dialog>
