<div layout="column" layout-fill>

    <section class="jumbotron">
      <h1>Piwik Button Creator</h1>
    </section>

    <section layout="row" flex>
      <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
        <!--SITE SETTINGS-->
        <md-toolbar class="md-theme-indigo">
          <h1 class="md-toolbar-tools">Site Settings</h1>
        </md-toolbar>
        <md-content layout-padding>
          <div layout="row" layout-align="space-around center">
            <div>
              <md-input-container>
                <label>Site Id</label>
                <input required name="siteId" ng-model="storage.siteId">
              </md-input-container>
            </div>
            <div>
              <md-input-container>
                <label>User Id</label>
                <input required name="userId" ng-model="storage.userId">
              </md-input-container>
            </div>
          </div>
        </md-content>

        <!--CUSTOM VARS-->
        <md-toolbar class="md-theme-indigo">
          <h1 class="md-toolbar-tools">Custom vars</h1>
        </md-toolbar>
        <md-content layout-padding>
          <md-button ng-click="close()" class="md-primary" hide-gt-md>
            Close Sidenav Left
          </md-button>
          <md-list>

            <md-subheader class="md-no-sticky">Scope Page:</md-subheader>
            <md-list-item ng-repeat="cv in storage.page | orderBy:'index'">
              <md-checkbox ng-model="cv.selected"></md-checkbox>
              <p class="text">{{cv.index }}. {{ cv.name }} - {{ cv.value }}</p>
              <md-icon class="md-secondary" ng-click="cvServ.remove(cv, 'page')" aria-label="remove" md-svg-src="assets/icons/ic_remove_circle_outline_black_24px.svg"></md-icon>
              <button class="md-tertiary-container md-icon-button md-button md-default-theme" tabindex="0">
                <md-icon ng-click="editCustomVar($event, cv)" aria-label="remove" md-svg-src="assets/icons/ic_edit_black_24px.svg"></md-icon>
              </button>
            </md-list-item>

            <md-divider></md-divider>

            <md-subheader class="md-no-sticky">Scope Visit:</md-subheader>
            <md-list-item ng-repeat="cv in storage.visit | orderBy:'index'" ng-dblclick="editCustomVar($event, cv)">
              <md-checkbox ng-model="cv.selected"></md-checkbox>
              <p class="text">{{cv.index }}. {{ cv.name }} - {{ cv.value }}</p>
              <md-icon class="md-secondary" ng-click="cvServ.remove(cv, 'visit')" aria-label="remove" md-svg-src="assets/icons/ic_remove_circle_outline_black_24px.svg"></md-icon>
              <button class="md-tertiary-container md-icon-button md-button md-default-theme" tabindex="0">
                <md-icon ng-click="editCustomVar($event, cv)" aria-label="remove" md-svg-src="assets/icons/ic_edit_black_24px.svg"></md-icon>
              </button>
            </md-list-item>

            <md-divider></md-divider>
            <div layout="row" layout-margin>
              <md-button class="md-raised md-accent" ng-click="addCustomVar($event)">Add Custom Var</md-button>
            </div>
          </md-list>
        </md-content>

      </md-sidenav>

      <md-content>

        <md-list>
          <div ng-repeat="t in tracker.actions">
            <md-subheader class="md-no-sticky">{{ t.categoryName }}</md-subheader>
            <div layout="column" layout-margin layout-wrap>
              <div layout="row" ng-repeat="rowButton in t.buttons">
                <div ng-if="rowButton.length" ng-repeat="button in rowButton">
                  <md-button class="md-raised md-accent" ng-click="request(button, t.requestFunction)">{{ button.name }}</md-button>
                </div>
                <md-button ng-if="!rowButton.length" class="md-raised md-accent" ng-click="request(rowButton, t.requestFunction)">{{ rowButton.name }}</md-button>
              </div>

            </div>
            <md-divider></md-divider>
          </div>
        </md-list>

      </md-content>
    </section>


</div>
